{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
</head>

<body>
    <!-- Sidebar Container -->
    <div class="sidebar">
        <!-- Mobile Toggle Button -->
        <div class="mobile-menu">
            <h3>Admin Dashboard</h3>
            <i class='bx bx-menu' id="mbmenu"></i>
            <ul class="sidemenu hidden">
                <li><a href="/">Home</a></li>
            </ul>
        </div>

        <!-- Sidebar Content -->
        <ul class="sidemenu">
            <h3>
                <a style="color: white"
                    href="https://www.kaggle.com/datasets/shreyanshverma27/online-sales-dataset-popular-marketplace-data">
                    Online Sales Dataset - Popular Marketplace Data
                </a>
            </h3>

            <!-- Home Link -->
            <li>
                <a href="/" title="Visão geral do dashboard">
                    <i class='bx bx-home-alt'></i>
                    <span>Home</span>
                </a>
            </li>

            <!-- Vendas -->
            <li>
                <a href="/clusters" title="Comparação entre os clusters">
                    <i class='bx bx-bar-chart-alt'></i>
                    <span>Comparação Entre os Clusters</span>
                </a>
            </li>

            <!-- Produtos Mais Vendidos -->
            <li>
                <a href="/analise" title="Análise Completa">
                    <i class='bx bx-cart'></i>
                    <span>Análise Completa</span>
                </a>
            </li>

            <li>
                <a href="/clusterizacao" title="Análise Completa">
                    <i class='bx bx-cart'></i>
                    <span>Clusterização</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Main Content Wrapper -->
    <div class="main-content">
        {% block content %}
        <!-- Conteúdo da página -->
        {% endblock %}
    </div>

    <!-- Scripts para Toggle Responsivo -->
    <script>
        document.getElementById('mbmenu').addEventListener('click', function () {
            const sidemenu = document.querySelector('.sidemenu');
            sidemenu.classList.toggle('hidden');
        });
    </script>
</body>

</html>